* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-container {
  height: 800px;
  width: 650px;
  padding: 30px 50px;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 15px 10px rgba(91, 89, 89, 0.868);
  overflow: auto;
  position: relative;
}

.main-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.app-heading {
  padding: 5px;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
.main-heading form input, button{
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* border: 2px solid rgb(255, 255, 255);
  padding: 20px 10px;
  border-radius: 10px; */
}
.input-box-todo {
  margin-left: 5px;
  width: 90%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
  padding-left: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
}
.add-btn {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #6565f986;
  color: white;
  font-weight: bolder;
  margin-left: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.1s;
  font-size: 1.1rem;
}
.add-btn:active {
  box-shadow: none;
}
.list-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.list-item {
  font-size: 1.3rem;
  list-style-type: none;
  background-color: #596e8b3b;
  border: 2px solid rgb(161, 158, 158);
  color: white;
  padding: 4px;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.list-item:hover{
  background-color: #817aff3e;
}
.btn-click {
  position: absolute;
  right: 10px;
}
.btn-click i {
  margin: 4px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  color: white;
  background-color: transparent;
}
.btn-click i:hover {
  transform: scale(1.2);
}
.icon-click:hover {
  color: rgb(67, 128, 242);
}
.pragination-btn{
 display: flex;
 justify-content: center;
}
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: center;
}

.pagination li {
  margin-right: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #3e8e41;
}

.pagination .active {
  background-color: #3e8e41;
}

